.kittScreen {
  width: 300px;
  height: 300px;
  position: absolute;
}

p{
  margin-top: 15px;
  font-size: 2em;
  color: red;
}

.container{
  width: 310px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.inner {
  height: 289px;
  width: 289px;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.kittCSS {
  width: 298px;
  bottom: 50%;
  position: absolute;
  background: white;
  animation: audio-wave 0.9s infinite alternate ease-out;
}

@keyframes audio-wave {
    0% {
      height:0px;
      transform:translateY(0px);
      background:red;
      }
    100% {
      height:290px;
      transform:translateY(150px);
      background:red;
      }
}

#inputBox{
  width: 50%;
  margin: 0 auto;
}

input{
  font-family: "KnightRider";
}

.btn{
  margin-left: 1%;
  font-family: "KnightRider";
  cursor: pointer;
}

#wikiTitle{
  font-size: 50px;
}

#wikiArticle{
  color: white;
  font-size: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

#tradeUserInput{
  color: white;
  font-size: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.smallText{
  color: white;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.kittLed{
  width: 25px;
	height: 25px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px; 
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-top: 3%;
}

.coinContainer{
  width: 100vw;
}

.portfolioContainer{
  font-size: 20px;
  width: 100vw;
  margin-top: 2%;
}

#openOrders{
  font-size: 18px;
}

.btnOpenOrdes{
  margin-top: 2%;
}

.hidden{
  display: none;
}

/* kitt loading*/

#kitt {
  margin-top: 5%;
  width: 100%;
  height: 12.5vw;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
  width: 8%;
  height: 20%;
  background: red;
  margin: 0;
  border-radius: 0.5vw;
  display: inline-block;
  -webkit-box-shadow: 0 0 10vw red, inset 0 0 0.2vw white;
  
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
.one {
   -webkit-animation-name: first ;
}
.two {
  -webkit-animation-name: second ;
}
.three {
  -webkit-animation-name: third ;
}
.four {
  -webkit-animation-name: fourth ;
}
.five {
  -webkit-animation-name: fifth ;
}
.six {
  -webkit-animation-name: sixth ;
}
.seven {
  -webkit-animation-name: seventh ;
}
.eight {
  -webkit-animation-name: eighth ;
}

@-webkit-keyframes first {
  0%   {opacity:0;}
  10%  {opacity:0.2;}
  20%  {opacity:1;}
  30%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes second {
  0%   {opacity:0;}
  20%  {opacity:0.2;}
  30%  {opacity:1;}
  40%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes third {
  0%   {opacity:0;}
  30%  {opacity:0.2;}
  40%  {opacity:1;}
  50%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes fourth {
  0%   {opacity:0;}
  40%  {opacity:0.2;}
  50%  {opacity:1;}
  60%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes fifth {
  0%   {opacity:0;}
  50%  {opacity:0.2;}
  60%  {opacity:1;}
  70%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes sixth {
  0%   {opacity:0;}
  60%  {opacity:0.2;}
  70%  {opacity:1;}
  80%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes seventh {
   0%   {opacity:0;}
  70%  {opacity:0.2;}
  80%  {opacity:1;}
  90%  {opacity:0.2;}
  100% {opacity:0;}
}
@-webkit-keyframes eighth {
   0%   {opacity:0;}
  80%  {opacity:0.2;}
  90%  {opacity:1;}
  100% {opacity:0;}
}

