<div class='container kittContainer animated fadeInRightBig' (click)='killKitt()'>
  <div class='inner'>
    <span [ngClass]='{ kittCSS: kitt.kittCSS }'></span>
    <img src='/assets/kitt.png' class='kittScreen'>
    <span class='kittLed' [ngStyle]='{"background-color": color}'></span>
  </div>
</div>
<p>{{kitt.textToSpeech}}</p>
<div id='inputBox' class='input-group margin-bottom-sm text-center animated fadeInLeftBig'>
  <input class='form-control' list='orders' type='text' placeholder='KITT intsructions' [(ngModel)]='searchValue' (keyup.enter)='kittInput(userInput)'
    #userInput>
  <datalist id='orders'>
    <option value='How to trade crypto?'>
      <option value='help'>
        <option value='check'>
          <option value='buy @ from'>
            <option value='sell @ from'>
              <option value='order book'>
                <option value='portfolio poloniex'>
                  <option value='portfolio bittrex'>
                    <option value='open orders'>
                      <option value='trade history'>
                        <option value='coins poloniex'>
                          <option value='coins bittrex'>
                              <option value='wiki'>
  </datalist>
  <button type='button' class='btn btn-outline-success' (click)='kittInput(userInput)'>Enter</button>
</div>

<div class='animated fadeInDownBig' *ngIf='showWiki'>
  <br>
  <a id='wikiTitle' target='_blank' href='https://en.wikipedia.org/wiki/{{ wikiTitle }}'>{{ wikiTitle }}</a>
  <p id='wikiArticle'>{{ wikiArticle }}</p>
</div>

<div class='animated zoomInUp' *ngIf='showOrder' id='trade'>
  <br>
  <p id='tradeUserInput'>Are you sure you want to {{ trade.order }} {{ trade.qty }} {{ trade.ticker }} @ {{ trade.price }} from {{ trade.exchange
    }} ?</p>
  <button type='submit' class='btn btn-outline-success' (click)='submitTrade()'>YES</button>
</div>

<div class='animated fadeInDownBig' *ngIf='showTicker'>
  <br>
  <a target='_blank' href='https://coinmarketcap.com/currencies/{{ coin.id }}'>
    <p><img src='https://files.coinmarketcap.com/static/img/coins/32x32/{{coin.id}}.png'> {{coin.name}} ({{coin.symbol}})</p>
  </a>
  <div class='coinContainer container'>
    <div class='row'>
      <div class='col col-md-auto'>
        <p class='smallText'>{{coin.price_usd}} USD</p>
      </div>
      <div class='col col-md-auto'>
        <p class='smallText'>{{coin.price_btc}} BTC</p>
      </div>
      <div class='col col-md-auto'>
        <p class='smallText'>{{coin.percent_change_24h}}%</p>
      </div>
    </div>
  </div>
</div>

<div class='animated fadeInDownBig' *ngIf='showBalance'>
  <div class='portfolioContainer container'>
    <div class='row'>
      <div class='col-md-3 col-sm-1' *ngFor='let key of keysGetter(exchangeBalance)'>
        {{key + ' : ' + exchangeBalance[key]}}
      </div>
    </div>
  </div>
</div>

<div class='animated zoomInUp' *ngIf='showExecution'>
  <p class='smallText'>you {{executionOrder.order}} {{executionOrder.amount}} {{trade.ticker}} @ {{executionOrder.price}}</p>
</div>

<div class='animated fadeInDownBig' *ngIf='showOpenOrders'>
  <div class='portfolioContainer container'>
    <div id='openOrders' class='row'>
      <div class='col col-md-auto' *ngFor='let orders of tickerOpenOrders'>
        <div>Order Number: {{orders.orderNumber}}</div>
        <div>Direction: {{orders.type}}</div>
        <div>Quantity: {{orders.amount}}</div>
        <div>Price: {{orders.rate}}</div>
        <div>Date: {{orders.date}}</div>
        <button id={{orders.orderNumber}} type='submit' class='btn btn-outline-danger btnOpenOrdes' (click)='cancel($event)'>Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class='container' *ngIf='showCoins'>
  <div class='row'>
    <div class='col-md-3 col-sm-1' *ngFor='let key of keysGetter(exchangeCoins)'>
      <p class='smallText'><img src='https://files.coinmarketcap.com/static/img/coins/32x32/{{exchangeCoins[key].name}}.png' onError='this.onerror=null; this.src="https://files.coinmarketcap.com/static/img/coins/32x32/bitcoin.png";'
        /> {{exchangeCoins[key].name}}</p>
    </div>
  </div>
</div>

<div class='animated zoomInUp' *ngIf='showOrderBook'>
  <div class='orderBook container'>

    <div class='row'>

      <div class='col-6'>
        <div class='row'>
          <div class='titleLarge col'>ASK</div>
        </div>
        <div class='row'>
          <div class='col-6'>Price</div>
          <div class='col-6'>Quantity</div>
        </div>
        <div class='row' *ngFor='let orders of orderBook.asks; let i=index'>
          <div *ngIf='i<11' class='col-6'>
            {{orders[0]}}
          </div>
          <div *ngIf='i<11' class='col-6'>
            {{orders[1]}}
          </div>
        </div>
      </div>

      <div class='col-6'>
        <div class='row'>
          <div class='titleLarge col'>BID</div>
        </div>
        <div class='row'>
          <div class='col-6'>Price</div>
          <div class='col-6'>Quantity</div>
        </div>
        <div class='row' *ngFor='let orders of orderBook.bids; let i=index'>
          <div *ngIf='i<11' class='col-6'>
            {{orders[0]}}
          </div>
          <div *ngIf='i<11' class='col-6'>
            {{orders[1]}}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div *ngIf='showHowCryptoWork'>
  <p>Videos on Bitcoin and CryptoCurrencies</p>
  <a class='larger' href='https://www.youtube.com/watch?v=mVM67wASG_o' target='_blank'>What is Bitcoin? - The Bitcoin Gospel | Bitcoin Documentary</a>
  <br>
  <a class='larger' href='https://www.youtube.com/watch?v=kubGCSj5y3k' target='_blank'>Bitcoin: How Cryptocurrencies Work</a>
  <br>
  <a class='larger' href='https://www.youtube.com/watch?v=a53YgjlGM2c' target='_blank'>At the Speed of Money: How Cryptocurrency Will Transform Everything </a>
  <p>Links to exchanges and relevant website</p>
  <a class='larger' href='https://www.poloniex.com/' target='_blank'>Poloniex</a>
  <br>
  <a class='larger' href='https://www.bittrex.com/' target='_blank'>Bittrex</a>
  <br>
  <a class='larger' href='https://coinmarketcap.com/' target='_blank'>coinMarketCap</a>

</div>


<div class='animated zoomInUp' *ngIf='loading'>
  <div id='kitt'>
    <p>Loading</p>
    <div class='one'></div>
    <div class='two'></div>
    <div class='three'></div>
    <div class='four'></div>
    <div class='five'></div>
    <div class='six'></div>
    <div class='seven'></div>
    <div class='eight'></div>
  </div>
</div>